body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    position: fixed;
    background-color: purple;
    &__name {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45%;
        height: inherit;
        h1 {
            margin: 0;
            color: #fff;
            font-family: arial;
            font-size: 1.8em;
        }
    }
    &__navigation {
        width: 20%;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;        
    }
    &__hamburguer {
        width: 45px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__bar {
        background-color: #fff;
        width: 40px;
        height: 5px;
        position: relative;
        &::before, &::after {
            position: absolute;
            content: "";
            display: block;
            background-color: #fff;
            width: 40px;
            height: 5px;
        }
        &::before {
            top: -11px;
        }
        &::after {
            top: 11px;
        }
    }
    .bar--x {
        background-color: #fff;
        width: 40px;
        height: 5px;
        position: relative;
        transition: transform .3s;
        transform: rotate(-45deg);
        &::before, &::after {
            position: absolute;
            content: "";
            display: block;
            background-color: #fff;
            width: 40px;
            height: 5px;
        }
        &::before {
            top: 0;
            transform: rotate(90deg);
        }
        &::after {
            visibility: hidden;
        }
    }
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        top: -25vh;
        left: 0;
        background-color: purple;
        width: 100%;
        height: 25vh;
        transition: transform .8s;
        z-index: -2;
    }
    &__list--open {
        transform: translateY(35vh);
    }
    &__item {
        a {
            text-decoration: none;
            color: #fff;
            font-size: 1.1em;
            text-transform: uppercase;
            letter-spacing: 3px;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

// .footer {
//     margin-top: auto;
//     width: 100%;
//     height: 10vh;
//     background-color: green;
// }